html {
    margin:    0 auto;
    max-width: 900px;
    font-family: monospace;
}

.author {
    display: none;
}

p {
    line-height: 2;
}

code {
    background-color: #CCC;
}

.plotly.html-widget {
    background-color: #CCC;
    padding: 1%;
    margin-bottom: 20px;
}